# Simulations in Python

In [5]:
import pandas as pd
import numpy as np

In [6]:
data = []                      # Step 1, empty list `data`
for i in range(600):           # Step 2: for-loop
  roll = random.randint(1, 6)  # Step 3: simulate real-world factors
  d = {"roll": roll}         # Step 4: accumulate factors in dictionary `d`
  data.append(d)               # Step 5: append `d` to `data`
# Step 6: create the DataFrame (outside of the for-loop)
df = pd.DataFrame(data)

In [7]:
# In a second cell, we'll print out `df` (otherwise we would be re-running the simulation)
df

     roll
0       5
1       1
2       3
3       4
4       3
..    ...
595     5
596     4
597     4
598     4
599     2

[600 rows x 1 columns]

In [8]:
# Step 1, empty list `data`:
data = []

# Step 2: for-loop:
for i in range(600):
  # Step 3: simulate all real-world factors:
  black = random.randint(1, 6)
  white = random.randint(1, 6)

  # Step 4: accumulate all factors in dictionary `d`:
  d = {"white": white, "black": black}

  # Step 5: append `d` to `data`
  data.append(d)

# Step 6: create the DataFrame (outside of the for-loop)
df = pd.DataFrame(data)

In [9]:
# In a second cell, we'll print out `df` (otherwise we would be re-running the simulation)
df

     white  black
0        1      4
1        6      1
2        1      1
3        3      5
4        2      4
..     ...    ...
595      3      5
596      6      1
597      6      2
598      3      4
599      4      4

[600 rows x 2 columns]